.multipage_form_wrapper {
  /* background-color: #000 !important;
    padding: 20px; */
}

.Forms_navigaion_button_wrapper {
  display: flex !important;
  justify-content: start !important;
}
/* #5c5d62 */

.forms_navigation_back_btn {
  background: transparent;
  border: 1px solid  #5c5d62 !important;
  padding: 20px 24px 20px 20px;
  color: #5c5d62;
  border-radius: 70px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.4s;
  
}

.forms_navigation_back_btn > span {
    margin-right: 8px;
}

.forms_navigation_back_btn:hover{
    background: #5c5d62;
    color: #fff;
}